doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title My Pug Page
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet" href="styles.scss")
  body
    section.banner
      h1 Hola, soy<br> <span>M</span>iguel<br><span>A</span>ngel<br><span>N</span>ieto<br><span>Gó</span>mez
