doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Mango Portafolio
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet" href="styles.scss")
    link(rel="icon" href="https://cdn-icons-png.flaticon.com/512/3944/3944211.png")
  body
    section.banner
      h1 Hola, soy<br> <span>M</span>iguel<br><span>A</span>ngel<br><span>N</span>ieto<br><span>Gó</span>mez

    article.content
      p.content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis fugit nostrum nulla perspiciatis quidem quos ratione tenetur vel vitae.
      img(src="https://i.pinimg.com/originals/af/5b/6f/af5b6f2c053131a9fe9fef0bf64d4a7a.gif", alt="Puto el que lo lea").content-image


