@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


body {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner{
  height: 100vh;
  transition: all 150ms ease-out;
  background: linear-gradient(170deg, #ffabab, #ffcc96, purple, orangered);
  background-size: 100vw 300vh;
  display: grid;
  place-content: center;

  &:hover {
    background-position: bottom;

    h1 {
      color: hsla(130, 100, 80, 0.1);
      letter-spacing: -5px;

      span {
        color: hsl(65, 100, 80);
        text-shadow: 0 0 20px;
        animation: tilt 3s linear infinite;
        text-shadow:
                0 0 20px;
      }
    }
  }
}

h1 {
  font-size: 6rem;
  margin: 0;
  color: hsl(250, 100, 25);
  transition: all 150ms ease-out;
}

span {
  color: tomato;
  font-size: 1.2em;
  transition: all 150ms ease-out;
}

@keyframes tilt {
  14%, 60%, 65%, 97%, 99% {
    color: hsl(65, 100, 20);
  }
  13%,15%,
  59%,61%,
  64%,66%,
  96%,98%,100% {
    color: hsl(65, 100, 80);
  }
}