@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(35deg, tomato, orangered, blueviolet);
  backdrop-filter: grayscale(0.4);
}

.boxes {
  width: 80vw;
  max-width: 1400px;
  height: 80vh;
  border-radius: 50px;
  display: flex;
  overflow: hidden;
  background: white;
  box-shadow: 0 50px 20px -40px #33333388, 0 0px 10px -5px #33333388;

  &:hover {
    .box:not(:hover) {
      filter: blur(10px) grayscale(1);
    }
  }

  .box {
    flex: 1 1;
    font-size: 10em;
    display: grid;
    place-content: center;
    transition: all 300ms ease;
    color: rgba(#333, 0.9);

    &:nth-child(2) {
      flex-grow: 2;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        background: hsl(90 + $i * 25, 100%, 80%);

        &:hover {
          flex-grow: 3;
          background: hsl(90 + $i * 25, 100%, 50%);
          text-shadow: 0 0 10px peachpuff;
          color: #333;
        }
      }
    }
  }
}
